$back-color: #424242;
$text-color: #fff;
$primary-color: #ffcc01;
$red-color: red;

$body-background-color: $back-color;
$navbar-background-color: $back-color;
$body-color: $text-color;
$title-color: $text-color;
$success: $primary-color;
$navbar-burger-color: $red-color;
$column-gap: 0.2rem;
$section-padding: 0.2rem 0 0.2rem  0.2rem;