doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Restyler ready app

  body
    include ../components/header/index
    main
      .container
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam commodi consectetur consequatur, cumque debitis dolor eius eligendi excepturi expedita, explicabo facere fuga fugit ipsa ipsum labore libero magnam magni maiores mollitia natus placeat possimus provident quis repellat reprehenderit rerum saepe sed temporibus vel velit veritatis voluptas voluptatibus? Debitis dicta mollitia odio praesentium sint! Ab alias asperiores beatae blanditiis consectetur, corporis cupiditate deleniti earum eligendi enim eveniet, ex explicabo fugit impedit in inventore ipsa ipsam iste iusto laboriosam minus modi nobis nulla odio odit perferendis perspiciatis porro quos rerum saepe sapiente sequi soluta tenetur vitae voluptas voluptates voluptatum! Accusamus adipisci aperiam aspernatur consequuntur cum deserunt, dolore ea, eum fugiat fugit in magnam nemo nobis praesentium quaerat quam reprehenderit temporibus vero. At consequatur cumque distinctio earum eius est id impedit ipsum itaque laborum nam natus necessitatibus non porro, quam quo reprehenderit temporibus vel! Aliquid aspernatur aut fuga maxime non quae, quidem.
    include ../components/footer/index